/* :root seçicisi, tüm belgede geçerli olacak global değişkenler tanımlamamızı sağlar. */
:root {
  --color-background: #F5F7F8; /* Açık Gri - Ana Arkaplan */
  --color-text-dark: #45474B;  /* Koyu Gri - Ana Metin Rengi */
  --color-text-light: #495E57; /* Koyu Yeşil/Teal - İkincil Metinler */
  --color-primary: #F4CE14;   /* Sarı - Vurgu ve Ana Butonlar */
  --color-white: #FFFFFF;
  --color-border: #e5e7eb;
}

/* Tüm elementlerin varsayılan margin ve padding'ini sıfırlıyoruz */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sayfanın tamamı için temel yazı tipi ve arkaplan rengini yeni değişkenlerimizle belirliyoruz */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-dark);
}
